{% extends 'base.html.twig' %}
{% block body %}
    <main id="overviewPage"
          data-training="{{ trainingId }}"
          data-session="{{ sessionId }}"
          data-semester="{{ semesterId }}">
        <h2>{{ details.semesterName }} - {{ details.name }}</h2>
        <fieldset>
            <legend>
                Maquette
            </legend>
            <table>
                <colgroup>
                    <col />
                    <col />
                    {% for mode in modes %}
                        <col span="3" />
                    {% endfor %}
                    <col />
                </colgroup>
                <thead>
                    <tr>
                        <th>UE</th>
                        <th>Module</th>
                        {% for mode in modes %}
                        <th>{{ mode.name }}</th>
                        {% endfor %}
                        <th>EqTD</th>
                    </tr>
                </thead>
                <tfoot>
                    <tr>
                        <th colspan="{{ 3 + (modes|length) }}" id="repartsStatus">&nbsp;</th>
                    </tr>
                    <tr>
                        <th colspan="2">UEs : <span id="ue_nb"></span>/<span id="ue_mx"></span></th>
                        <th colspan="{{ (modes|length) - 1 }}">Modules : <span id="mod_nb"></span>/<span id="mod_mx"></span></th>
                        <th colspan="2">EqTD Total : <span id="eqtd_nb"></span>/<span id="eqtd_mx"></span></th>
                    </tr>
                </tfoot>
                <tbody id="reparts">
                    {% for unit in modulesPerUnit %}
                        {% for module in unit.modules %}
                            <tr data-module="{{ module.id }}"
                                data-ue="{{ unit.id }}">
                                <th>{{ unit.name }}</th>
                                <th>{{ module.name }}</th>
                                {% for mode in modes %}
                                <td data-mode="{{ mode.id }}">
                                    Séances :
                                    <input type="number"
                                           class="repart-input"
                                           min="1"
                                           step="1"
                                           name="nb"
                                           value="{{ module.reparts?.(mode.id)?.nb|default(1) }}" />
                                    <br />
                                    Min/Séance :
                                    <input type="number"
                                           class="repart-input"
                                           min="15"
                                           step="15"
                                           name="timeby"
                                           value="{{ module.reparts?.(mode.id)?.timeby|default(120) }}" />
                                    <br />
                                    Groupes :
                                    <input type="number"
                                           class="repart-input"
                                           min="1"
                                           step="1"
                                           name="groups"
                                           value="{{ module.reparts?.(mode.id)?.groups|default(1) }}" />
                                    <br />
                                    Soit <span>{{ module.reparts?.(mode.id)?.eqtd|default(0) }}</span> EQTD
                                </td>
                                {% endfor %}
                                <td>{{ module.eqtd }}</td>
                            </tr>
                        {% endfor %}
                    {% endfor %}
                </tbody>
            </table>
        </fieldset>
    </main>
{% endblock %}