{% extends 'base.html.twig' %}
{% block body %}
    <main id="overviewPage"
          data-training="{{ trainingId }}"
          data-session="{{ sessionId }}"
          data-semester="{{ semesterId }}">
        <h2>{{ details.semesterName }} - {{ details.name }}</h2>
        <fieldset>
            <legend>
                Maquette
            </legend>
            <table>
                <colgroup>
                    <col />
                    <col />
                    <col />
                    {% for mode in modes %}
                        <col span="3" />
                    {% endfor %}
                    <col />
                </colgroup>
                <thead>
                    <tr>
                        <th>UE</th>
                        <th>Module</th>
                        <td>&nbsp;</td>
                        {% for mode in modes %}
                        <th>{{ mode.name }}</th>
                        {% endfor %}
                        <th>Total</th>
                    </tr>
                </thead>
                <tfoot>
                    <tr>
                        <th colspan="{{ 4 + (modes|length) }}" id="repartsStatus">&nbsp;</th>
                    </tr>
                    <tr>
                        <th colspan="2">UEs : <span id="ue_nb"></span>/<span id="ue_mx"></span></th>
                        <th colspan="{{ (modes|length) }}">Modules : <span id="mod_nb"></span>/<span id="mod_mx"></span></th>
                        <th colspan="2">Total : <span id="tot_nb"></span>/<span id="tot_mx"></span></th>
                    </tr>
                    <tr>
                        <th colspan="{{ 4 + (modes|length) }}">
                            <a href="#" id="applyAsDefault" class="btn btn-danger">
                                Appliquer en tant que répartition par défaut
                            </a>
                        </th>
                    </tr>
                </tfoot>
                <tbody id="reparts" data-nbmodes="{{ modes|length }}">{% set i = 0 %}
                    {% for unit in modulesPerUnit %}
                        {% for module in unit.modules %}
                            <tr data-module="{{ module.id }}"
                                data-ue="{{ unit.id }}"
                                class="mainModuleLine"
                                style="background-color: {{ unit.bgcol }}; color: {{ unit.txcol }};">
                                <th rowspan="4">{{ unit.name }}</th>
                                <th rowspan="4">{{ module.name }}</th>
                                <td>Séances :</td>
                                {% for mode in modes %}
                                <td data-mode="{{ mode.id }}">
                                    <input type="number"
                                           class="repart-input"
                                           tabindex="{{ i * 1000 + mode.id }}"
                                           min="0"
                                           step="1"
                                           name="nb"
                                           value="{{ module.reparts?.(mode.id)?.nb|default(0) }}" />
                                </td>
                                {% endfor %}
                                <td rowspan="4" class="computedModuleTotal">
                                    {{ module.total }}
                                </td>
                            </tr>
                            <tr data-module="{{ module.id }}"
                                data-ue="{{ unit.id }}"
                                style="background-color: {{ unit.bgcol }}; color: {{ unit.txcol }};">
                                <td>Min/Séance :</td>
                                {% for mode in modes %}
                                <td data-mode="{{ mode.id }}">
                                    <input type="number"
                                           class="repart-input"
                                           tabindex="{{ i * 1000 + mode.id }}"
                                           min="0"
                                           step="15"
                                           name="timeby"
                                           value="{{ module.reparts?.(mode.id)?.timeby|default(0) }}" />
                                </td>
                                {% endfor %}
                            </tr>
                            <tr data-module="{{ module.id }}"
                                data-ue="{{ unit.id }}"
                                style="background-color: {{ unit.bgcol }}; color: {{ unit.txcol }};">
                                <td>Groupes :</td>
                                {% for mode in modes %}
                                <td data-mode="{{ mode.id }}">
                                    <input type="number"
                                           class="repart-input"
                                           tabindex="{{ i * 1000 + mode.id }}"
                                           min="0"
                                           step="1"
                                           name="groups"
                                           value="{{ module.reparts?.(mode.id)?.groups|default(0) }}" />
                                </td>
                                {% endfor %}
                            </tr>
                            <tr data-module="{{ module.id }}"
                                data-ue="{{ unit.id }}"
                                style="background-color: {{ unit.bgcol }}; color: {{ unit.txcol }};">
                                <td>Total :</td>
                                {% for mode in modes %}
                                <td data-mode="{{ mode.id }}" class="computedModeTotal">
                                    {{ module.reparts?.(mode.id)?.total|default(0) }}
                                </td>
                                {% endfor %}
                            </tr>
                        {% set i = i + 1 %}{% endfor %}
                    {% endfor %}
                </tbody>
            </table>
        </fieldset>
    </main>
{% endblock %}